@import "../../../assets/scss/_vars";

.post_card {
  display: flex;
  flex-direction: column;
  width: 100%;
  &_row {
    &--user {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &_avatar {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      margin-right: 10px;
    }
    &_text,
    &_icon {
      margin: 10px 0;
    }
    &_text {
      text-overflow: ellipsis;
      &--name {
        text-transform: capitalize;
      }
      &--link {
        text-decoration: none;
        color: black;
        cursor: pointer;
      }
    }
    &_icon {
      font-weight: bold !important;
      &::before {
        margin-right: 5px;
      }
    }
  }
}
