@import "../../../assets/scss/_vars";

.navigation_bar {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar_width_height;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
  &_logo {
    background-image: url("../../../assets/img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: $navbar_width_height;
    height: $navbar_width_height;
    padding: 0 1em;
  }
  &_left_side {
    float: left;
    border-right: 1px solid #d3d2d2;
  }
  &_right_side {
    float: right;
  }
  &_left_side,
  &_right_side {
    max-height: $navbar_width_height;
  }
  &_links {
    margin-right: 20px;
    &--link {
      text-decoration: none;
      margin: auto 10px;
      font-size: 22px;
      display: inline-block;
      color: black;
      &:after {
        transform-origin: 0% 50%;
        display: block;
        content: "";
        border-bottom: 3px solid $primary_color;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }
      &:hover {
        &:after {
          transform: scaleX(1);
        }
      }
    }
  }
}
