@import "../../../assets/scss/_vars";

.auth {
  &_form_wrapper {
    display: flex;
    justify-content: space-between;
    .auth_form_greeter,
    .auth_form_inputs {
      display: flex;
      justify-content: center !important;
      align-items: center !important;
      flex-direction: column !important;
      width: 100%;
      padding: 3em 0;
    }
    .auth_form_greeter {
      position: relative;
      background-color: $dark_primary_color;
      color: white;
      h1 {
        text-transform: capitalize;
        font-size: 36px;
      }
      &_footer {
        position: absolute;
        bottom: 0;
        font-size: 22px;
        &--link {
          text-decoration-color: white;
          color: white;
          transition: all ease-in-out 0.15s;
          &:hover {
            text-decoration-color: $light_primary_color;
          }
        }
      }
    }
    .auth_form_inputs {
      .MuiButtonBase-root {
        width: 100%;
      }
    }
  }
  &_errors {
    margin-top: 10px;
    * {
      font-weight: bold;
    }
  }
}
