@import "../../../assets/scss/_vars";

.post_metadata {
  display: flex;
  flex-direction: row;
  &_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    &_icon {
      border-radius: 50%;
      padding: 0.5em;
      background-color: $primary_color;
      color: white;
    }
    p {
      margin-top: 5px;
    }
  }
}
